<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Do not write public--}}
    <title></title>
    <link rel="stylesheet" href="../../../dist/css/style.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- <link rel="stylesheet" href="../../assets/css/login.css"> -->
    <style>
        body {
            padding: 3rem;
            background-color: blue;
            color: white;
        }
    </style>
</head>

<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../dist/js/userComments.min.js"></script>
<!--<script type="module" src="../../assets/js/userComments.js"></script>-->



</html>