<div class="sections_content">
    <section class="success_content">
        <div class="part_one_success">
            <h2 style="height:3rem;">Thank you for your message {{name}}.</h2>
            <p>You can come back and log in. </p>
            <a href="../"> <button class="btn" style="margin-top:2rem">Home </button></a>
        </div>
    </section>
</div>