<div class="sections_content">
    <section>
        <h2 style="height:1.5rem;"> Hey! go back home <a href="../public_html/"></a> </h2>
        <h3> This page does not existed etc....</h3>
        <!-- I can have some index of code that will let me know where the user has faced an issue-->
    </section>
</div>